/* variables */
:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --links-color: #6f4a40;
    --menu-color: #ddd2ca;
    --button-color: #343b46;
    --background-color: rgba(0, 0, 0, 0.65);
    --second-background-color: rgba(255, 255, 255, 0.3);
    --third-background-color: rgba(0, 0, 0, 0.2);
}

/* general */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.wrapper {
    width: 90vw;
    max-width: 1250px;
    margin: 0 auto;
    color: var(--black-color);
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.background {
    height: 100vh;
    width: 100%;
    background: url("../img/canyon.jpg") no-repeat center/cover;
    position: fixed;
    top: 0;
    z-index: -3;
}

.background-shadow {
    height: 100%;
    width: 100%;
    background: var(--background-color);
    z-index: -2;
    position: absolute;
    top: 0;
}

/* header */
.header {
    margin: 0;
    padding: 1.5rem 0;
    z-index: 1;
}

.header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-wrapper a {
    color: var(--white-color);
    text-decoration: none;
}

.main-header {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.main-header span {
    margin-right: 0.5rem;
}

.hamburger-wrapper {
    color: var(--white-color);
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hamburger {
    padding: 10px;
    background: transparent;
    border: 0;
    margin: 0 0 0 0.2rem;
    display: inline-block;
    cursor: pointer;
    z-index: 3;
}

.hamburger, .menu {
    -webkit-transition: -webkit-transform .3s .1s ease-in-out;
    transition: -webkit-transform .3s .1s ease-in-out;
    -o-transition: transform .3s .1s ease-in-out;
    transition: transform .3s .1s ease-in-out;
    transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
}

.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    width: 100%;
    height: 3px;
    background: var(--white-color);
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    -webkit-transition: background 0.3s 0.2s ease-in-out;
    -o-transition: background 0.3s 0.2s ease-in-out;
    transition: background 0.3s 0.2s ease-in-out;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    width: 100%;
    height: 3px;
    background: var(--white-color);
    position: absolute;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    top: 10px;
}

.hamburger-active .hamburger-inner {
    background: transparent;
}

.hamburger-active .hamburger-inner::before {
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
    background: var(--black-color);
}

.hamburger-active .hamburger-inner::after {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    background: var(--black-color);
}

.menu {
    height: 100vh;
    width: 100%;
    background: var(--white-color);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 2;
}

.menu-list {
    width: 80%;
    margin-top: 50px;
    list-style: none;
    padding: 0;
}

.menu-list li {
    text-align: center;
    padding: 1rem;
    position: relative;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

.menu-list li:hover {
    background: var(--menu-color);
}

.menu-list li::after {
    content: "";
    width: 100%;
    border-bottom: 0.5px solid var(--black-color);
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 0;
}

.menu-list a {
    width: 100%;
    text-decoration: none;
    color: var(--black-color);
}

.menu-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

/* hero */
.hero {
    padding: 6rem 0;
}

.hero-wrapper {
    color: var(--white-color);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.second-header {
    margin: 0;
    font-size: 3rem;
}

.hero-paragraph {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.discord-btn {
    padding: 1rem 2.5rem;
    color: var(--white-color);
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid var(--white-color);
    -webkit-transition: background 0.6s;
    -o-transition: background 0.6s;
    transition: background 0.6s;
}

.discord-btn:hover {
    background: var(--second-background-color);
}

/* footer */
.footer {
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
}

.footer-wrapper {
    margin-left: 1rem;
    color: var(--white-color);
    text-align: center;
    opacity: 0.5;
}

/* subpages */
.subpages-hero {
    padding: 0;
    margin-bottom: 2.5rem;
}

.subpages-hero-wrapper {
    color: var(--white-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.subpages-second-header {
    margin: 0;
    font-size: 2.5rem;
}

.subpages-section {
    padding: 2rem 0;
    background: var(--white-color);
}

.subpages-section-wrapper {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.subpages-fourth-header {
    margin: 0.5rem 0 2rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    position: relative;
}

.subpages-fourth-header::after {
    content: "";
    width: 50%;
    height: 1px;
    background: var(--black-color);
    opacity: 0.3;
    position: absolute;
    left: 0;
    margin-left: 25%;
    bottom: 0;
}

.cite {
    margin: 0.5rem 0 2rem;
    padding: 1rem 2rem;
    border: 0.5px solid var(--background-color);
}

.subpages-paragraph {
    margin: 0 0 1rem;
}

.subpages-paragraph a {
    color: var(--black-color);
    text-decoration: none;
}

.subpages-paragraph a:hover {
    text-decoration: underline;
}

.members-wrapper, .hobby-wrapper, .rpg-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hobby-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.member, .hobby, .rpg {
    margin: 1rem 0 2rem;
    padding: 0 0 2rem;
    border: 0.5px solid var(--background-color);
    border-radius: 5px;
}

.member, .rpg {
    width: 100%;
}

.hobby {
    width: 100%;
    min-height: 0;
    margin: 0.5rem 0;
}

.member-photo, .hobby-photo, .rpg-photo {
    margin: 0 0 2rem;
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.hobby-photo {
    height: 200px;
}

.member-photo img, .hobby-photo img, .rpg-photo img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.member-title, .hobby-title, .rpg-title {
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.member-description .subpages-paragraph, .hobby-description .subpages-paragraph, .rpg-description .subpages-paragraph {
    padding: 0 1.5rem;
}

.additional-paragraph {
    display: none;
}

.read-more-less-btn {
    margin: 2rem 0;
    padding: 0.5rem 1rem;
    background: var(--white-color);
    border: 1px solid var(--black-color);
    cursor: pointer;
    -webkit-transition: background 0.6s;
    -o-transition: background 0.6s;
    transition: background 0.6s;
}

.read-more-less-btn:hover {
    background: var(--third-background-color);
}

.read-more-less-btn:last-of-type {
    margin-bottom: 0;
}

.event {
    margin-bottom: 2rem;
}

.event-title {
    margin-bottom: 1rem;
}

.event-span {
    font-weight: 700;
}

.gallery-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.photo {
    width: 100%;
    height: 300px;
    margin: 0.5rem;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.photo img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 2rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: var(--background-color);
}

.modal-content {
    width: 90%;
    height: 550px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 5s;
    -o-transition: 5s;
    transition: 5s;
}

.modal-content img {
    height: auto;
    border: 1px solid var(--black-color);
}

.show-modal {
    display: block;
}

.subpages-footer {
    background: var(--white-color);
    position: static;
}

.subpages-footer-wrapper {
    margin: 0;
    color: var(--black-color);
    opacity: 1;
}

/* media queries*/
@media only screen and (min-width: 1000px) {
    .footer-wrapper {
        margin-left: 4rem;
        text-align: left;
    }

    .hobby-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .member, .rpg {
        width: 80%;
    }

    .hobby {
        width: 30%;
        min-height: 600px;
        margin: 0.5rem;
    }

    .gallery-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .photo {
        width: 30%;
    }

    .modal-content {
        width: 70%;
    }
}
